<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.StaffDao">
    <insert id="insert">
        insert into p_staff (id,name,salary,age,departmentId)
        values(#{id},#{name},#{salary},#{age},#{departmentId})
    </insert>
    <select id="selectByDepartmentId" resultType="Staff">
        select id,name,salary,age,departmentId from p_staff
        where departmentId=#{departmentId}
    </select>
    <update id="update">
        update p_staff set name=#{name},salary=#{salary},age=#{age},
        departmentId=#{departmentId} where id=#{id}
    </update>
    <delete id="delete">
        delete from p_staff where id=#{id}
    </delete>
    <select id="queryOne" resultType="Staff">
        select id,name,salary,age,departmentId from p_staff where id=#{id}
    </select>
</mapper>